<h2>hhhhh</h2>
<div class="dashboard">
    <div class="chart-box">
      <h4>Bar Chart</h4>
      <canvas baseChart [data]="barChartData" [options]="chartOptions" [type]="'bar'"></canvas>
    </div>
  
    <div class="chart-box">
      <h4>Pie Chart</h4>
      <canvas baseChart [data]="pieChartData" [options]="chartOptions" [type]="'pie'"></canvas>
    </div>
  
    <div class="chart-box">
      <h4>Line Chart</h4>
      <canvas baseChart [data]="lineChartData" [options]="chartOptions" [type]="'line'"></canvas>
    </div>
    
  </div>
  